[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
django = "~=3.1.2"
gunicorn = "*"
whitenoise = "*"
psycopg2-binary = "*"
environs = {extras = ["django"], version = "*"}
djangorestframework = "*"
django-cors-headers = "*"
django-heroku = "*"
waitress = "*"

[requires]
python_version = "3.8"
